<section>
    <!--OWNER CREATED PLACE INFORMATION AREA-->
    <h5 id="reserved">예약 미승인</h5>
        <ul>
            <li class="tagsinput">
                <% Reservation.where(place_id: Place.where(creator: current_owner.email).first).where(confirm: "0").each do |data| %>
                    <a class="tag" href="/mypage/reservations/<%= data.id %>"><%= Group.find(data.group_id).creator %></a>
                   <!-- <a class="tag" href="/find/group/detail/<%= data.group_id %>"><%= Group.find(data.group_id).creator %></a>-->
                <% end %>
            </li>
        </ul>
    <h5 id="reserved">예약 승인 완료</h5>
        <ul>
            <li class="tagsinput">
                <% Reservation.where(place_id: Place.where(creator: current_owner.email).first).where(confirm: "1").each do |data| %>
                    <a class="tag" href="/mypage/reservations/<%= data.id %>"><%= Group.find(data.group_id).creator %></a>
                   <!-- <a class="tag" href="/find/group/detail/<%= data.group_id %>"><%= Group.find(data.group_id).creator %></a>-->
                <% end %>
            </li>
        </ul>
    <a href="/find/place/edit/<%= Place.where(creator: current_owner.email).first.id %>"><button class="btn btn-lg btn-block btn-primary">등록한 장소 정보 변경</button></a>
</section>